<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Detail View</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="dashboard d-flex flex-wrap date-numbers-client-detail">
        <div class="news-logo">
            <img src="images/blue-logo.png">
        </div>  
        <div class="dashboard-details dashboard-header padding-spacing ">
            <div class="client-details d-flex flex-wrap">
                <div class="client-details-name d-flex flex-wrap align-items-center">
                    <div class="client-img">
                        <img src="images/Martin-Doe.png">
                    </div>
                    <div class="content">
                        <h1>Martin Doe</h1>
                        <ul>
                            <li class="black"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+1 (212) 855 1234" class="black"> +1 (212) 855 1234</a></li>
                            <li class="black"><i class="fa fa-map-marker" aria-hidden="true"></i> 31w 31st Street, New York, NY, 10018</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clients-tab-section">
                <div class="clients-tab d-flex flex-wrap justify-content-space-between">
                    <ul class="tabs d-flex flex-wrap client-detail-view-tab">
                        <li class="active" rel="tab1"><span>Main</span></li>
                        <li rel="tab2"><span>Dates & Numbers</span></li>
                        <li rel="tab3"><span>Related contacts </span></li>
                        <li rel="tab4"><span>Food & Allergies</span></li>
                        <li rel="tab5"><span>Notes</span></li>
                        <li rel="tab6"><span>Marketing</span></li>
                    </ul>
                </div>
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <div class="d-flex flex-wrap destinations-trip">
                            <div class="upcoming-trips common-background col-6 ">
                                <div class="inner">
                                    <div class="title  d-flex flex-wrap">
                                        <h3 class="m-600">Trips</h3>
                                        <div><a href="#" class="trip blue-oblivion-color m-600"> Add trip<i class="fa fa-plus" aria-hidden="true"></i></a></div>
                                    </div>
                                    <div class="upcoming-trips-details">
                                        <div class="inner">
                                            <ul>
                                                <li class="m-600"><h3 class="m-600 black">Summer in Italy</h3>Amalfi Coast</li>
                                                <li>July 17 to August 1 </li>
                                                <li><div class="btn"><a href="#" class="m-600">Upcoming</a></div></li>
                                            </ul>
                                        </div>
                                        <div class="inner">
                                            <ul>
                                                <li class="m-600"><h3 class="m-600 black">Europe 2022</h3>France, Portugal, Spain</li>
                                                <li>July 17 to August 1 </li>
                                                <li><div class="btn"><a href="#" class="m-600">Upcoming</a></div></li>
                                            </ul>
                                        </div>
                                        <div class="inner">
                                            <ul>
                                                <li class="m-600"><h3 class="m-600 black">Europe 2022</h3>France, Portugal, Spain</li>
                                                <li>July 17 to August 1 </li>
                                                <li><div class="btn"><a href="#" class="m-600">Upcoming</a></div></li>
                                            </ul>
                                        </div>
                                        <div class="inner">
                                            <ul>
                                                <li class="m-600"><h3 class="m-600 black">Europe 2022</h3>France, Portugal, Spain</li>
                                                <li>July 17 to August 1 </li>
                                                <li><div class="btn"><a href="#" class="m-600">Upcoming</a></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="view-all justify-content-flex-end flex-wrap d-flex"><a href="#" class="blue-oblivion-color m-600">View all upcoming trips <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                            <div class="common-background favorite-destinations col-6">
                                <h2>Favorite destinations</h2>
                                <div class="favorite-destinations-wrap">
                                    <div class="favorite-destinations-inner">
                                        <div class="inner d-flex flex-wrap">
                                            <div class="destinations-img">
                                                <img src="images/destinations-1.png">
                                            </div>
                                            <div class="destinations-content">
                                                <h3>France</h3>
                                                <span>Ramatuelle, France</span>
                                                <span>10 Trips in the last Month</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="favorite-destinations-inner">
                                        <div class="inner d-flex flex-wrap">
                                            <div class="destinations-img">
                                                <img src="images/destinations-4.png">
                                            </div>
                                            <div class="destinations-content">
                                                <h3>Palm Springs</h3>
                                                <span>Palm Springs, California</span>
                                                <span>10 Trips in the last Month</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="favorite-destinations-inner">
                                        <div class="inner d-flex flex-wrap">
                                            <div class="destinations-img">
                                                <img src="images/destinations-3.png">
                                            </div>
                                            <div class="destinations-content">
                                                <h3>Italy</h3>
                                                <span>Capri, Italy</span>
                                                <span>7 Trips in the last Month</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="favorite-destinations-inner">
                                        <div class="inner d-flex flex-wrap">
                                            <div class="destinations-img">
                                                <img src="images/destinations-4.png">
                                            </div>
                                            <div class="destinations-content">
                                                <h3>Bahamas</h3>
                                                <span>Bahamas</span>
                                                <span>6 Trips in the last Month</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab_content">
                        <div class="important-date-wrap">
                            <div class="important-date-main-wrap d-flex flex-wrap destinations-trip">
                                <div class="important-date common-background margin-col-6 ">
                                    <div class="title d-flex flex-wrap">
                                        <h4 class="m-600">Important dates</h4>
                                    </div>
                                    <div class="important-dates">
                                        <ul class="d-flex flex-wrap">
                                            <li class="date"><strong>July 1</strong></li>
                                            <li><i class="fa fa-birthday-cake" aria-hidden="true"></i> Birthday</li>
                                        </ul>
                                        <ul  class="d-flex flex-wrap">
                                            <li class="date"><strong>July 1</strong></li>
                                            <li><i class="fa fa-gift" aria-hidden="true"></i> Anniversary</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="important-date common-background margin-col-6 ">
                                    <div class="title d-flex flex-wrap">
                                        <h4 class="m-600">Important numbers</h4>
                                    </div>
                                    <div class="important-numbers">
                                        <div class="inner d-flex flex-wrap align-items-center">
                                            <div class="image">
                                                <img src="images/important-numbers-logo.png">
                                            </div>
                                            <div class="title">
                                                <h5>Marriot Bonvoy Rewards</h5>
                                            </div>
                                            <div class="number"><a href="#"><strong> #123aasdd</strong> <img src="images/emp-number.png"></a> </div>
                                        </div>
                                        <div class="inner d-flex flex-wrap align-items-center">
                                            <div class="image">
                                                <img src="images/important-numbers-logo-2.png">
                                            </div>
                                            <div class="title">
                                                <h5>Passport number</h5>
                                            </div>
                                            <div class="number"><a href="#"><strong>AA245699</strong><img src="images/emp-number.png"></a> </div>
                                        </div>
                                        <div class="inner d-flex flex-wrap align-items-center">
                                            <div class="image">
                                                <img src="images/important-numbers-logo-3.png">
                                            </div>
                                            <div class="title">
                                                <h5>Marriot Bonvoy Rewards</h5>
                                            </div>
                                            <div class="number"><a href="#"><strong>AA245699</strong><img src="images/emp-number.png"></a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-imp-date common-background col-12">
                                    <div class="title d-flex flex-wrap">
                                        <h4 class="m-600">Important numbers</h4>
                                    </div>
                                    <div class="full-imp-date-inner ">
                                        <ul>
                                            <li><a href="#"><span>PDF</span>Passport.pdf</a></li>
                                            <li><a href="#"><span>PDF</span>vaccinationcard.pdf</a></li>
                                        </ul>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab3" class="tab_content">
                        <div class=" d-flex flex-wrap destinations-trip">
                            <div class="related-contacts common-background full-width">
                                <div class="title d-flex flex-wrap">
                                    <h4 class="m-600">Related contacts</h4>
                                    <div><a href="#" class="trip blue-oblivion-color m-600">Add related contact<i class="fa fa-plus" aria-hidden="true"></i></a></div>
                                </div>
                                <div class="related-contacts-details">
                                    <table>
                                        <tr>
                                            <td><img src="images/Martin-Doe.png"><strong>Maria Star</strong></td>
                                            <td><img src="images/@.png"> maria88@gmail.com</td>
                                            <td>Dec 12, 1988</td>
                                            <td>Spouse/Wife</td>
                                            <td><i class="fa fa-phone" aria-hidden="true"></i> +1(212) 234-1234</td>
                                        </tr>
                                        <tr>
                                            <td><img src="images/Martin-Doe.png"><strong>James Doe</strong></td>
                                            <td>N/A</td>
                                            <td>Dec 12, 2004</td>
                                            <td>Son</td>
                                            <td>N/A</td>
                                        </tr>
                                        <tr>
                                            <td><img src="images/Martin-Doe.png"><strong>Sarah Doe</strong></td>
                                            <td>N/A</td>
                                            <td>Dec 12, 2005</td>
                                            <td>Daughter</td>
                                            <td>N/A</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab4" class="tab_content">
                        <div class="food-allergies d-flex flex-wrap destinations-trip">
                            <div class="common-background margin-col-6 ">
                                <div class="title d-flex flex-wrap">
                                    <h4 class="m-600">Food and allergies</h4>
                                </div>
                                <div class="allergies-text">
                                    <h3>Allergies</h3>
                                    <div class="allergies-wrap d-flex flex-wrap dark-red-color">
                                        <div class="inner " >
                                            <a href="#" class="d-flex flex-wrap align-items-center">
                                                <img src="images/Pollen.png"> Pollen
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <a href="#" class="d-flex flex-wrap align-items-center">
                                                <img src="images/Peanuts.png"> Peanuts
                                            </a>
                                        </div>
                                        <div class="inner ">
                                            <a href="#" class="d-flex flex-wrap align-items-center">
                                                <img src="images/Fish.png"> Fish
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="allergies-text">
                                    <h3>Food preferences</h3>
                                    <div class="allergies-wrap d-flex flex-wrap light-blue-color">
                                        <div class="inner " >
                                            <a href="#" class="d-flex flex-wrap align-items-center">
                                                <img src="images/Kosher.png"> Kosher
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <a href="#" class="d-flex flex-wrap align-items-center">
                                                <img src="images/Gluten-Free.png"> Gluten Free
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit.</p></div>
                            </div>
                            <div class="common-background margin-col-6 left-side">
                                <div class="title d-flex flex-wrap">
                                    <h4 class="m-600">Preferences</h4>
                                </div>
                                <div class="allergies-text">
                                    <h3>Allergies</h3>
                                     <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit.</p></div>
                                </div>
                                <div class="allergies-text">
                                    <h3>Dislikes</h3>
                                     <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab5" class="tab_content">
                        <div class="food-allergies notes d-flex flex-wrap destinations-trip">
                            <div class="common-background margin-col-6 left-side">
                                <div class="title d-flex flex-wrap">
                                    <h4 class="m-600">Notes</h4>
                                </div>
                                <div class="allergies-text">
                                     <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis lobortis tempor purus, condimentum hac morbi sit.</div>
                                </div>
                            </div>
                            <div class="common-background margin-col-6 left-side">
                                <div class="title ">
                                    <h4 class="m-600">Recent Activities</h4>
                                    <span>890,344 Sales</span>
                                </div>
                                <div class="recent-activities">
                                    <div class="recent-activities-wrap">
                                        <div class="inner">
                                            <div class="date-time">11/02</div>
                                            <div class="dots"></div>
                                            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                        </div>
                                        <div class="inner">
                                            <div class="date-time">11/02</div>
                                            <div class="dots"></div>
                                            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                        </div>
                                        <div class="inner">
                                            <div class="date-time">11/02</div>
                                            <div class="dots"></div>
                                            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                        </div>
                                        <div class="inner">
                                            <div class="date-time">11/02</div>
                                            <div class="dots"></div>
                                            <div class="content">Outlines keep you honest. Indulging in poorly driving and keep structure</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab6" class="tab_content">
                        <div class="marketing d-flex flex-wrap destinations-trip">
                            <div class="marketing-left d-flex flex-wrap">
                                <div class="common-background">
                                    <div class="title d-flex flex-wrap">
                                        <h4 class="m-600">Marketing opt in</h4>
                                    </div>
                                    <div class="width-100 documents-signed">
                                        <div class="switch-documentation">
                                            <div>Newsletter</div>
                                            <label class="switch">
                                                <input type="checkbox" checked="">
                                                <span class="slider round"></span>
                                            </label>
                                            
                                        </div>
                                        <div class="switch-documentation">
                                            <div>Travel alerts</div>
                                            <label class="switch">
                                                <input type="checkbox" checked="">
                                                <span class="slider round"></span>
                                            </label>
                                            
                                        </div>
                                        <div class="switch-documentation">
                                             <div>Account updates</div>
                                            <label class="switch">
                                                <input type="checkbox" checked="">
                                                <span class="slider round"></span>
                                            </label>
                                           
                                        </div>
                                        <div class="switch-documentation">
                                            <div>Promotions</div>
                                            <label class="switch">
                                                <input type="checkbox" checked="">
                                                <span class="slider round"></span>
                                            </label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="common-background automations-content">
                                    <div class="title d-flex flex-wrap">
                                        <h4 class="m-600">Automations</h4>
                                    </div>
                                    <div class="width-100 documents-signed">
                                        <div class="switch-documentation">
                                            <div>Automation 3</div>
                                            <a href="#">Active</a>
                                        </div>
                                        <div class="switch-documentation">
                                            <div>Clickfunnel Affiliates</div>
                                            <a href="#">Active</a>
                                        </div>
                                        <div class="switch-documentation">
                                            <div>Welcome</div>
                                            <a href="#">Active</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-background automations-content full-width campaigns-conetnt">
                                    <div class="title d-flex flex-wrap">
                                        <h4 class="m-600">Campaigns</h4>
                                    </div>
                                    <div class="width-100 documents-signed">
                                        <div class="switch-documentation">
                                            <div>SmartFlyer May 2022</div>
                                            <div class="campaigns-left ">Opened on April 22, 2022</div>
                                        </div>
                                        <div class="switch-documentation">
                                            <div>New alert for COVID 19</div>
                                            <div class="campaigns-left not-open">Not opened</div>
                                        </div>
                                        <div class="switch-documentation">
                                            <div>Account updates</div>
                                            <div class="campaigns-left">Opened on April 1, 2022</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="marketing-right notes ">
                                <div class="common-background left-side">
                                    <div class="title ">
                                        <h4 class="m-600">Recent Activities</h4>
                                        <span>890,344 Sales</span>
                                    </div>
                                    <div class="recent-activities">
                                        <div class="recent-activities-wrap">
                                            <div class="inner">
                                                <div class="date-time">11/02</div>
                                                <div class="dots"></div>
                                                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                            </div>
                                            <div class="inner">
                                                <div class="date-time">11/02</div>
                                                <div class="dots"></div>
                                                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                            </div>
                                            <div class="inner">
                                                <div class="date-time">11/02</div>
                                                <div class="dots"></div>
                                                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                            </div>
                                            <div class="inner">
                                                <div class="date-time">11/02</div>
                                                <div class="dots"></div>
                                                <div class="content">Outlines keep you honest. Indulging in poorly driving and keep structure</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/dashboard-script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

</body>
</html>