<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="SmartFlyer">
	<meta name="keywords" content="SmartFlyer">
	<meta name="author" content="SmartFlyer">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Complete</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="login">

<!-- Header -->
<header>
    <div class="logo-wrap">
        <div class="logo">
            <a href="login.html"><img src="images/white-logo.png" alt=""></a>
        </div>
    </div>
</header>
<!-- Header -->

<!-- Login Form  -->
<section class="login-form profile-complete">
    <div class="login-wrap d-flex flex-wrap align-items-center">
        <div class="form-section white ">
            <div class="form-section-inner">
                <h1>Thank You! <br>Your profile is complete.</h1>
                <div class="content">
                    <p>We will be in touch as soon as we finished reviewing all the information.</p>
                    <p>Here is a summary of your documents uploaded. We will send you a copy if your signed documents to your email.</p>    
                </div>
                <div class="uploaded-documentation">
                    <div class="documentation pdf-download">
                        <h3>Uploaded documentation</h3>
                        <ul>
                            <li><a href="#">PDF</a>vaccinationcard.pdf</li>
                            <li><a href="#">PDF</a>passport.pdf</li>
                        </ul>
                    </div>
                    <div class="documentation document-file">
                        <h3>Signed</h3>
                        <ul>
                            <li><a href="#">DOC</a>SmartFlyer Agreement</li>
                            <li><a href="#">DOC</a>Personal Liability</li>
                            <li><a href="#">DOC</a>Privacy agreement</li>
                            <li><a href="#">DOC</a>Terms of Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-image">
            <img src="images/profile-complete.png">
        </div>
    </div>
   
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="js/public-script.js"></script>

</body>
</html>




