<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>partners</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="dashboard d-flex flex-wrap">
        <div class="dashboard-left-menu">
            <div class="logo">
                <a href="dashboard.html">
                    <img src="images/white-logo.png">
                </a>
            </div>
            <div class="dashboard-menu">
                <ul class="mainmenu">
                    <li>
                        <a href="dashboard.html"><img src="images/home.png"> Home</a>
                    </li>
                    <li class="">
                        <a href="#"><img src="images/Clients.png"> Clients</a>
                        <ul>
                            <li class="">
                                <a href="all-clients.html">All clients</a>
                            </li>
                            <li class="">
                                <a href="clients-upcoming-trips.html">Upcoming trips</a>
                            </li>
                            <li class="">
                                <a href="clients-calendar.html">Calendar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="trips.html"><img src="images/Trips.png"> Trips</a>
                    </li>
                    <li class="active">
                        <a href="partners.html"><img src="images/Partners.png"> Partners</a>
                    </li>
                    <li>
                        <a href="to-do.html"><img src="images/To-do.png"> To-do</a>
                    </li>
                    <li class="">
                        <a href="agents.html"><img src="images/Agents.png"> Agents</a>
                    </li>
                    <li class="">
                        <a href="settings.html"><img src="images/Settings.png">
                        Settings</a>
                    </li>
                </ul>
            </div>
            <div class="dashboard-menu-sidebar">
                <div class="inner d-flex flex-wrap">
                    <div class="image">
                        <img src="images/clients-2.png">
                    </div>
                    <div class="content white">
                        <h3>Martin Doe</h3>
                        <a href="javascript:void(0)">martindoe@gmail.com</a>
                    </div>
                </div>
                <div class="dashboard-logout" style="display: none;">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-question-circle-fill"></i> Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard-details dashboard-header padding-spacing">
            <div class="trip-view-header d-flex flex-wrap justify-content-space-between align-items-center">
                <h1>Partners</h1>
                <ul class="d-flex flex-wrap justify-content-flex-end m-600">
                    <li><a href="javascript:void(0)">Pending tasks</a></li>
                </ul>
            </div>
            <div class="clients-tab-section">
                <div class="clients-tab d-flex flex-wrap justify-content-space-between">
                    <ul class="tabs outer-tabs d-flex flex-wrap partners-clients-tab">
                        <li class="active" rel="tab1"><span>All</span></li>
                        <li rel="tab2"><span>Hotels</span></li>
                        <li rel="tab3"><span>CRUISES</span></li>
                        <li rel="tab4"><span>DMC'S</span></li>
                        <li rel="tab5"><span>INSURANCE</span></li>
                        <li rel="tab6"><span>Transportation</span></li>
                        <li rel="tab7"><span>Air</span></li>
                    </ul>
                    <div class="search-filetr d-flex flex-wrap">
                       <i class="bi bi-funnel"></i>
                       <div class="trip-view-search">
                          <a data-fancybox="" data-src="#search-popup">
                             <div class="search bisearch">
                                <!-- <img src="images/search.png"> -->
                                <i class="bi bi-search"></i>
                             </div>
                          </a>
                          <div style="display: none;" id="search-popup">
                             <h1>Search</h1>
                             <input type="search" id="gsearch" name="gsearch" placeholder="Search for bookings, clients and suppliers.">
                          </div>
                       </div>
                    </div>
                </div>
                <div class="tab_container partners-tab-section">
                    <div id="tab1" class="tab_content">
                        <div class="agents-all-tab partners-all-tab">
                            <div class="related-contacts common-background full-width ">
                                <div class="partners-main-section">
                                    <div class="title">
                                        <h3>Frequently Used Partners</h3>
                                    </div>
                                    <div class="partners-main-wrap">
                                        <div class="destinations-wrap d-flex flex-wrap">
                                           <div class="destinations-in">
                                                <a data-fancybox="" href="#france">
                                                 <div class="destinations-image white" style="background: url(images/product1.png) no-repeat center /cover;">
                                                    <h2>GRACE HOTEL SANTORINI </h2>
                                                    <span>Santorini, Greece</span>
                                                 </div>
                                                </a>
                                                <div style="display: none;" id="france" class="destinations-trip-view partners-destinations-popup">
                                                    <div class="trip-view-section ">
                                                        <div class="trip-view-left d-flex flex-wrap full-width align-items-center " >
                                                            <div class="trip-header partner-view-left col-6">
                                                                <div class="partner-view-inner">
                                                                    <div class="content">
                                                                        <h2>Grace Hotel Santorini</h2>
                                                                        <ul>
                                                                            <li>Santorini</li>
                                                                            <li>Greece</li>
                                                                        </ul>
                                                                        <p>Grace Hotel Santorini is an exclusive luxury boutique hotel perched high on Santorini’s Caldera. It has been designed to integrate perfectly with its unique geography. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="partner-view-right col-6">
                                                                <div class="partner-view-img">
                                                                    <img src="images/destination-mage.png">
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                            <div class="partner-view-tabbing">
                                                                <ul class="tabs partner-view-tab partners-inner-tabs">
                                                                    <li class="active tab8" rel="tab8">OVERVIEW</li>
                                                                    <li class="tab9" rel="tab9">CONTACTS</li>
                                                                    <li class="tab10" rel="tab10">Property Specifics</li>
                                                                    <li class="tab11" rel="tab11">How to book</li>
                                                                    <li class="tab12" rel="tab12">Selling points</li>
                                                                    <li class="tab13" rel="tab13">MArketing assets</li>
                                                                    <li class="tab14" rel="tab14">PROMOTIONS </li>
                                                                    <li class="tab15" rel="tab15">DOCUMENTS</li>
                                                                    <li class="tab16" rel="tab16">Reviews</li>
                                                                </ul>
                                                                <div class="tab_container">
                                                                    <div id="tab8" class="tab_content" style="display: block;">
                                                                        <h2>SmartFlyer Exclusives</h2>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>
                                                                    </div>

                                                                    <div id="tab9" class="tab_content">
                                                                          <h2>Tab 4 content</h2>
                                                                          <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>

                                                                    <div id="tab10" class="tab_content">
                                                                          <h2>SmartFlyer Exclusives</h2>
                                                                          <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>
                                                                    <div id="tab11" class="tab_content">
                                                                          <h2>SmartFlyer Exclusives</h2>
                                                                          <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>
                                                                    <div id="tab12" class="tab_content">
                                                                          <h2>SmartFlyer Exclusives</h2>
                                                                          <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>
                                                                    <div id="tab13" class="tab_content">
                                                                          <h2>SmartFlyer Exclusives</h2>
                                                                          <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>
                                                                    <div id="tab14" class="tab_content">
                                                                          <h2>SmartFlyer Exclusives</h2>
                                                                          <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>
                                                                    <div id="tab15" class="tab_content">
                                                                          <h2>SmartFlyer Exclusives</h2>
                                                                          <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>
                                                                    <div id="tab16" class="tab_content">
                                                                        <h2>SmartFlyer Exclusives</h2>
                                                                        <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
                                                                    </div>
                                                                        
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="destinations-in">
                                              <a data-fancybox="" href="#springs">
                                                 <div class="destinations-image white" style="background: url(images/product2.png) no-repeat center /cover;">
                                                    <h2>Palm Springs</h2>
                                                    <span>Capri, Palm Springs</span>
                                                    <div class="content">10 Trips in the last Month</div>
                                                 </div>
                                              </a>
                                              
                                           </div>
                                           <div class="destinations-in">
                                              <a data-fancybox="" href="#italy">
                                                 <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                                    <h2>Italy</h2>
                                                    <span>Capri, Italy</span>
                                                    <div class="content">10 Trips in the last Month</div>
                                                 </div>
                                              </a>
                                           </div>
                                           <div class="destinations-in">
                                              <a data-fancybox="" href="#bahamas">
                                                 <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                                    <h2>Bahamas</h2>
                                                    <span>Bahamas</span>
                                                    <div class="content">10 Trips in the last Month</div>
                                                 </div>
                                              </a>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="partners-main-section">
                                    <div class="title">
                                        <h3>All partners</h3>
                                    </div>
                                    <div class="partners-main-wrap">
                                        <div class="destinations-wrap d-flex flex-wrap">
                                           <div class="destinations-in">
                                              <a data-fancybox="" href="#france">
                                                 <div class="destinations-image white" style="background: url(images/product1.png) no-repeat center /cover;">
                                                    <h2>GRACE HOTEL SANTORINI </h2>
                                                    <span>Santorini, Greece</span>
                                                 </div>
                                              </a>
                                           </div>
                                           <div class="destinations-in">
                                              <a data-fancybox="" href="#springs">
                                                 <div class="destinations-image white" style="background: url(images/product2.png) no-repeat center /cover;">
                                                    <h2>Palm Springs</h2>
                                                    <span>Capri, Palm Springs</span>
                                                    <div class="content">10 Trips in the last Month</div>
                                                 </div>
                                              </a>
                                           </div>
                                           <div class="destinations-in">
                                              <a data-fancybox="" href="#italy">
                                                 <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                                    <h2>Italy</h2>
                                                    <span>Capri, Italy</span>
                                                    <div class="content">10 Trips in the last Month</div>
                                                 </div>
                                              </a>
                                           </div>
                                           <div class="destinations-in">
                                              <a data-fancybox="" href="#bahamas">
                                                 <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                                    <h2>Bahamas</h2>
                                                    <span>Bahamas</span>
                                                    <div class="content">10 Trips in the last Month</div>
                                                 </div>
                                              </a>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab_content">
                      <div class="partners-main-section">
                           <div class="title">
                              <h3>Frequently Used Partners</h3>
                           </div>
                           <div class="partners-main-wrap">
                              <div class="destinations-wrap d-flex flex-wrap">
                                 <div class="destinations-in">
                                    <a  href="#france">
                                       <div class="destinations-image white" style="background: url(images/product1.png) no-repeat center /cover;">
                                          <h2>GRACE HOTEL SANTORINI </h2>
                                          <span>Santorini, Greece</span>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a href="#springs">
                                       <div class="destinations-image white" style="background: url(images/product2.png) no-repeat center /cover;">
                                          <h2>Palm Springs</h2>
                                          <span>Capri, Palm Springs</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#italy">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Italy</h2>
                                          <span>Capri, Italy</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </div>
                    <div id="tab3" class="tab_content">
                        <div class="partners-main-section">
                           <div class="title">
                              <h3>Frequently Used Partners</h3>
                           </div>
                           <div class="partners-main-wrap">
                              <div class="destinations-wrap d-flex flex-wrap">
                                 <div class="destinations-in">
                                    <a  href="#france">
                                       <div class="destinations-image white" style="background: url(images/product1.png) no-repeat center /cover;">
                                          <h2>GRACE HOTEL SANTORINI </h2>
                                          <span>Santorini, Greece</span>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </div>
                    <div id="tab4" class="tab_content">
                        <div class="partners-main-section">
                           <div class="title">
                              <h3>Frequently Used Partners</h3>
                           </div>
                           <div class="partners-main-wrap">
                              <div class="destinations-wrap d-flex flex-wrap">
                                 <div class="destinations-in">
                                    <a  href="#france">
                                       <div class="destinations-image white" style="background: url(images/product1.png) no-repeat center /cover;">
                                          <h2>GRACE HOTEL SANTORINI </h2>
                                          <span>Santorini, Greece</span>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a href="#springs">
                                       <div class="destinations-image white" style="background: url(images/product2.png) no-repeat center /cover;">
                                          <h2>Palm Springs</h2>
                                          <span>Capri, Palm Springs</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#italy">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Italy</h2>
                                          <span>Capri, Italy</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                
                              </div>
                           </div>
                        </div>
                    </div>
                    <div id="tab5" class="tab_content">
                        <div class="partners-main-section">
                           <div class="title">
                              <h3>Frequently Used Partners</h3>
                           </div>
                           <div class="partners-main-wrap">
                              <div class="destinations-wrap d-flex flex-wrap">
                                 <div class="destinations-in">
                                    <a  href="#italy">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Italy</h2>
                                          <span>Capri, Italy</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </div>
                    <div id="tab6" class="tab_content">
                        <div class="partners-main-section">
                           <div class="title">
                              <h3>Frequently Used Partners</h3>
                           </div>
                           <div class="partners-main-wrap">
                              <div class="destinations-wrap d-flex flex-wrap">
                                 <div class="destinations-in">
                                    <a  href="#france">
                                       <div class="destinations-image white" style="background: url(images/product1.png) no-repeat center /cover;">
                                          <h2>GRACE HOTEL SANTORINI </h2>
                                          <span>Santorini, Greece</span>
                                       </div>
                                    </a>
                                 </div>
                                
                                 <div class="destinations-in">
                                    <a  href="#italy">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Italy</h2>
                                          <span>Capri, Italy</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </div>
                    <div id="tab7" class="tab_content">
                        <div class="partners-main-section">
                           <div class="title">
                              <h3>Frequently Used Partners</h3>
                           </div>
                           <div class="partners-main-wrap">
                              <div class="destinations-wrap d-flex flex-wrap">
                                 <div class="destinations-in">
                                    <a  href="#france">
                                       <div class="destinations-image white" style="background: url(images/product1.png) no-repeat center /cover;">
                                          <h2>GRACE HOTEL SANTORINI </h2>
                                          <span>Santorini, Greece</span>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a href="#springs">
                                       <div class="destinations-image white" style="background: url(images/product2.png) no-repeat center /cover;">
                                          <h2>Palm Springs</h2>
                                          <span>Capri, Palm Springs</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#italy">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Italy</h2>
                                          <span>Capri, Italy</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="destinations-in">
                                    <a  href="#bahamas">
                                       <div class="destinations-image white" style="background: url(images/product3.png) no-repeat center /cover;">
                                          <h2>Bahamas</h2>
                                          <span>Bahamas</span>
                                          <div class="content">10 Trips in the last Month</div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript" src="js/dashboard-script.js"></script>

</body>
</html>