<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="SmartFlyer">
	<meta name="keywords" content="SmartFlyer">
	<meta name="author" content="SmartFlyer">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SmartFlyer Recovery Password </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="login">

<!-- Header -->
<header>
    <div class="logo-wrap">
        <div class="logo">
            <a href="login.html"><img src="images/white-logo.png" alt=""></a>
        </div>
        <div class="back-to-login"><a href="login.html"><i class="fa fa-angle-left" aria-hidden="true"></i>Back to login</a></div>
    </div>
</header>
<!-- Header -->

<!-- Login Form  -->
<section class="login-form">
    <div class="login-wrap d-flex flex-wrap align-items-center">
        <div class="form-section white ">
             <div class="form-section-inner recovery-password">
                <div class="title">
                    <h1>Recovery Password</h1>
                    <p>We will send you an access code to your registered email so you can change your password.</p>
                </div>
                <form>
                    <ul>
                        <li>
                            <label for="uname"><b>Email</b></label>
                            <input type="email" placeholder="Enter your email" name="email" autocomplete="off" required >
                        </li>
                        <li class="submit-btns">
                            <!-- <input type="submit" name="login" value="RECOVERY"> -->
                            <a href="recovery-password-code.html">RECOVERY</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="right-image">
            <img src="images/login-form-image.png">
        </div>
    </div>
    <div class="footer-content white">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
    </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="js/public-script.js"></script>


</body>
</html>




